version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: ../infra/docker/Dockerfile.backend
    ports:
      - "5000:5000"
    environment:
      - DB_NAME=medgestor
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - JWT_SECRET=your_jwt_secret
    depends_on:
      - db
  frontend:
    build:
      context: ./frontend
      dockerfile: ../infra/docker/Dockerfile.frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
  db:
    image: postgres:17
    environment:
      - POSTGRES_DB=medgestor
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
volumes:
  db_data: